# Ignore Node Modules #
node_modules

# Ignore Bower Components #
public/bower_components
public/assets/podcasts

# Ignore Vim temp files #
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
