extends layout

block content
  h2 Uh Oh! 404 Error: Page Not Found
  p. 
    The page you are trying to access could not be found. Check your URL, refresh,
    and try again. If you feel this is a mistake, you can 
    #[a(href="/contact") contact the admin] or come to the lounge and tell an
    executive in person.