extends layout

block head
  title #{title}
  
block content
  .row
    a#what
    h2.anchored What is the CCSS?
    p.
      The Carleton Computer Science Society is the undergraduate academic society 
      focused on being the student voice of computer science to the school. We 
      have seven executives, a president, and two first year representatives which
      have different duties within the CCSS ranging from social to academic and
      internal workings. If you are an undergraduate computer science student at
      Carleton University, you are already a member and can take full advantage
      of what we have to offer.
    h3 Academics
    p.
      Some of our executives have been given multiple positions in the student 
      government and curriculum committees. We sell course packs with notes for 
      all participating courses. We run workshops and lectures to help get 
      information, curricular or otherwise, to the students.  
    p.
      What does this mean for you? It means that you can come to us with your 
      truthful opinions on the curriculum and what you want to get out of your
      academics at university. It means you have a voice in how things run. It
      means your voice gets heard by the university. It means you have people
      to come to with experience who can guide you when you need it.
    h3 Social
    p.
      We recognize how important being social is in university. Computer science
      in particular puts a lot of weight on networking and finding ways to remove
      stress. We have a lounge at 4135HP where computer science students and some
      non-computer science students get together to talk, work, and play games.
      We also host events to help network with other students, professors, and 
      sometimes large companies or start-ups. We also offer study breaks such as
      movie nights, bowling nights, beach days, and more. 
    p.
      What does this mean for you? We have money to host events you are interested
      in. While you have a say in everything academic, you also get a chance to
      get involved in how you get together. Let us know what you want and we can
      try to make it happen. We want your time at Carleton to be awesome.
    h3 The Lounge
    p.
      The computer science lounge is located at 4135HP (4th floor of Herzberg 
      building, Carleton University), as well as our office. We offer printing,
      WiFi, fast ethernet connections, gaming consoles, large whiteboard, a microwave,
      coat rack, and couches. 
    p.
      What does this mean for you? It means you have a place to go. A place to 
      meet friends. A place to leave you coat for a bit, or kill time in between
      classes. A place to chat with your TA's and your classmates and meet with
      the CCSS executive team. 
  .row
    a#who
    h2.anchored Who is the CCSS executive team?
    p.
      There are 7 executives on the board, 2 first year representatives (as voted
      in after the fall term starts), and 1 president. The CCSS uses a portfolio
      system to establish duties. Each portfolio gives a list of duties and 
      recommendations for which the portfolio holding executive is in charge of.
  .row.bio
    .col-md-1.hidden-sm.hidden-xs
    .col-md-1
      .pic
        img.pic(src="/img/connor-profile.jpg")
    .col-md-9
      table.table.table-condensed
        tr
          td Name:
          td Connor Hillen
        tr
          td Email:
          td connor.hillen@ccss.carleton.ca
        tr
          td Academic Standing
          td 3rd Year, Robotics
        tr
          td Portfolio(s): 
          td Academic Events, Technical
        tr
          td Role in the CCSS:
          td To plan and coordinate events of academic nature including
            | tech talks and workshops. To manage CCSS hardware and software
            | components such as website and game servers.
        tr
          td Website:
          td #[a(href="http://www.linkedin.com/pub/connor-hillen/82/585/6b8", target="_blank") LinkedIn], #[a(href="http://www.connorhillen.com/", target="_blank") www.connorhillen.com]
        tr
          td About
          td 
            p.
              My name is Connor Hillen and I've been a CCSS executive for
              three years running now. First, I was first-year representative,
              then the event coordinator, and now I manage academic events
              and technical, but I like to have my hand in everything. My
              focus is to get the CCSS involved and informed, focus on 
              documenting CCSS interactions for years to come, and to start
              initiatives that withstand after I leave. Feel free to contact
              me for just about anything CCSS or computer science related!
  .row.bio
    .col-md-1.hidden-sm.hidden-xs
    .col-md-1
      .pic
        img(src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y")
    .col-md-9
      table.table.table-condensed
        tr
          td Name:
          td Laura Alkhoury
        tr
          td Email:
          td laura.alkhoury@ccss.carleton.ca
        tr
          td Academic Standing
          td 3rd Year, Mobile Computing
        tr
          td Portfolio(s): 
          td Social Media
        tr
          td Role in the CCSS:
          td
            p.
              I use social media such as Facebook and Twitter to promote the CCSS 
              and our social and academic events. I use those platforms to interact 
              with fellow CS students to gain insight into what they care about, 
              as well as feedback on what we're working on.
        tr
          td Website:
          td #[a(href="http://www.linkedin.com/pub/laura-alkhoury/5b/498/8a7", target="_blank") LinkedIn]
        tr
          td About
          td 
            p.
              When I'm not in Herzberg working on homework or hanging out in the 
              CCSS lounge, you'll find me working from home as a Software Engineer 
              for an engineering consulting firm. In my free time I cook, bake, 
              and save Tamriel from those who seek to destroy her. Come say hi 
              if you see me around!
  .row.bio
    .col-md-1.hidden-sm.hidden-xs
    .col-md-1
      .pic
        img(src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y")
    .col-md-9
      table.table.table-condensed
        tr
          td Name:
          td Sam Whiteley
        tr
          td Email:
          td sam.whiteley@ccss.carleton.ca
        tr
          td Academic Standing
          td 3rd Year, Security
        tr
          td Portfolio(s): 
          td Secretary
        tr
          td Role in the CCSS:
          td
            p.
              I make sure the communication grease is flowing as fast and as 
              efficiently as possible (read: email harassment) Contact me if you 
              need info about something and don't know exactly who to deal with!
  .row.bio
    .col-md-1.hidden-sm.hidden-xs
    .col-md-1
      .pic
        img(src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y")
    .col-md-9
      table.table.table-condensed
        tr
          td Name:
          td Terrence Anderson
        tr
          td Email:
          td terrence.anderson@ccss.carleton.ca
        tr
          td Academic Standing
          td 3rd Year
        tr
          td Portfolio(s): 
          td Treasurer
        tr
          td Role in the CCSS:
          td
            p.
              The treasurer manages the financial aspects of the society. The 
              treasurer deals with budgeting, auditing, and ensuring the society's
              funds are put to maximum potential.

  .row
    a#governance
    h2.anchored CCSS Governance Documents
    p.
      The CCSS contains two documents which contain the rules and bylaws governing
      the interactions of the society. 
    ul
      li #[a(href="/assets/bylaw1.pdf") Bylaw 1 (PDF)]: A Bylaw providing for the rules of general governance and 
        | transaction of the affairs of the Carleton Computer Science Society.
      li #[a(href="/assets/bylaw2.pdf") Bylaw 2 (PDF)]: A Bylaw seeking to clarify the running of elections and calling of meetings.