extends layout

block content
  h1 Arcade Box Submissions
  p.
    The CCSS houses a student made Arcade Box used to demonstrate student made 
    games. You may submit your project to __________. 
    
  h2 Project Restrictions
  ul
    li Must run on a windows environment
    li Must follow a specific control setup (to be posted)
    li Must be school-safe