extends layout

block head
  title #{title}
  
block content
  h1 Contact Us
  p. 
    The CCSS executives may be contacted by email or in person in the CCSS lounge
    located at 4135 Herzberg Building, Carleton University. 
  h2 Executive Emails
  ul
    li President: #[a(href="mailto:lindsay.bangs@ccss.carleton.ca") lindsay.bangs@ccss.carleton.ca]
    li Secretary: #[a(href="mailto:sam.whiteley@ccss.carleton.ca") sam.whiteley@ccss.carleton.ca]
    li Financials: #[a(href="mailto:terrence.anderson@ccss.carleton.ca") terrence.anderson@ccss.carleton.ca]
    li Social Events: #[a(href="mailto:vinisha.dsouza@ccss.carleton.ca") vinisha.dsouza@ccss.carleton.ca]
    li Academic Events, Technical: #[a(href="mailto:connor.hillen@ccss.carleton.ca") connor.hillen@ccss.carleton.ca]
    li Academic Representative: #[a(href="mailto:abe.fehr@ccss.carleton.ca") abe.fehr@ccss.carleton.ca]
    li Social Media: #[a(href="mailto:laura.alkhoury@ccss.carleton.ca") laura.alkhoury@ccss.carleton.ca]
    li Volunteer, Lounge: #[a(href="mailto:matt.diener@ccss.carleton.ca") matt.diener@ccss.carleton.ca]