extends layout
  
block content
  h1 Course Quick Reference
  p.
    Students often have lots to ask and lots to say about specific courses at 
    university. Here, we've included some notes and experiences regarding the 
    courses from fellow students. Feel free to send in your recommendations by 
    sending us a message on #[a(href="https://www.facebook.com/CarletonComputerScienceSociety", target="_blank") Facebook]
    or sending an email to #[a(href="mailto:connor.hillen@ccss.carleton.ca") connor.hillen@ccss.carleton.ca].
  
  h3 COMP1405 - Introduction to Computer Science I
  p. 
    This is the first, introductory computer science course. It is currently 
    undergoing lots of changes. It covers topics starting from the basics of 
    programming, introducing the student to computer science as though they have
    never seen a programming language before. The languages taught vary from year
    to year. In the past, it has taught Python, Processing, and Java.
  p. 
    For advanced programmers, COMP1405 can seem slow, but for brand new ones it
    can still be tough to keep up. The key is not to get discouraged and to figure
    out what work pace suits you.
  p. 
    Excellent resources are available online. #[a(href="http://people.scs.carleton.ca/~lanthier/teaching/COMP1405/notes.html", target="_blank") Dr. Mark Lanthiers notes]
    have been used for many years and cover lots of concepts in Java and is a great
    resource. Pat Morin has #[a(href="https://www.youtube.com/user/morinpatmorin1/videos", target="_blank") posted his lectures from 2013 on YouTube]
    for anyone interested. New professors are teaching these courses now and more resources 
    by them will surely emerge soon.
    
  h3 COMP1406 - Introduction to Computer Science II
  p.
    COMP1406 is still undergoing changes. It's main focus seems to shift from 
    teaching the student how to program and focuses on teaching how to program
    well. #[a(href="http://people.scs.carleton.ca/~lanthier/teaching/COMP1405/notes.html", target="_blank") Dr. Mark Lanthiers notes]
    
  h3 COMP1805 - Discrete Structures
  p.
    Discrete Structures, or Discrete Math, focuses on logical operations, proofing,
    set theory, counting, and more. It's considered one of the more difficult 
    first year courses as it isn't like what most people have seen before. Luckily,
    there is an #[a(href="http://cg.scs.carleton.ca/~discmath/") online database of problems]
    comprised of almost every test and assignment problem asked. There are tons of 
    questions to test yourself. The only way to get better is through practice.
  p. 
    Many times, the book #[a(href="http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-042j-mathematics-for-computer-science-fall-2010/readings/MIT6_042JF10_notes.pdf") Mathematics for Computer Science]
    has been used because it clearly displays concepts, is written by intelligent
    people, and it is available for free.
  