extends layout

block head 
  link(rel="stylesheet", type="text/css", href="/bower_components/fullcalendar/fullcalendar.css")
  link(rel="stylesheet", type="text/css", href="/css/events.css")
  script(src="/bower_components/fullcalendar/fullcalendar.js", type="text/javascript")
  script(src="/bower_components/fullcalendar/gcal.js", type="text/javascript")
  script(src="/js/calendar.js", type="text/javascript")
block content
  h1 Upcoming Events
  #calendar