extends layout

block content
  h1 Getting Extra Help
  p.
    There are lots of resources available to you that will help you along with 
    your academic life in computer science. We've made a small list of places that
    you can get a little extra help online and offline. If there is anything you
    would like to add, you can send an email to our technical executive, 
    #[a(href="mailto:connor.hillen@ccss.carleton.ca") Connor Hillen], or make a
    post on our #[a(href="https://www.facebook.com/CarletonComputerScienceSociety") Facebook page.]
  h2 Around Campus
  p.
    There are a few places on campus that you can go directly for help. The 
    most common and possibly most useful one is #[a(href="http://www.scs.carleton.ca/cstac") CSTAC], 
    which is the Computer Science Tutorial Assistance Centre located at 1170 Herzberg.
    That's the tunnel level. The hours change, so be sure to check out the #[a(href="http://www.scs.carleton.ca/cstac") schedule].
    This is where the TAs spend their office hours and they have TAs in there all
    day long to help with a variety of classes. 
  p. 
    Right next to CSTAC is the #[a(href="http://sssc.carleton.ca/") SSSC], or Science
    Student Success Centre. They regularly hold workshops for math and science 
    which can help you with study habits and general knowledge. They occasionally
    hold talks in there as well.
  p. 
    Another good note is that the library and Wireless Lab (4125 Herzberg, beside
    the lounge) are very good places to study. The Wireless Lab is often running
    classes or events, however you will regularly find it empty aside from students
    working on assignments. 
  
  h2 Online
  p. 
    We've gathered a collection of useful links which can help you along. If you
    have any, feel free to send them in.
  ul
    li.
      #[a(href="https://github.com/vhf/free-programming-books/blob/master/free-programming-books.md") Free Programming Books:]
      This is a huge compendium of free books available online for more than simply programming.
      It includes algorithms, data structures, discrete structures, design, and
      of course hundreds of language references. 
    li.
      #[a(href="http://courses.csail.mit.edu/6.042/fall13/mcs.pdf") Mathematics for Computer Science:]
      This is a book used largely in the discrete structures courses and it is
      used for a reason. It clearly explains a lot of concepts taught throughout
      first to fourth year regarding computational geometry and discrete structures.
    li.
      #[a(href="http://opendatastructures.org/") Open Data Structures:] 
      This is the textbook used in Data Structures and was written by the professor,
      largely. The book is available in print and online and many different languages. 
    li.
      #[a(href="http://www.codecademy.com/") CodeAcademy:] This is a great website
      which teaches you how to code in small chunks. It's a great intro into 
      basic programming concepts and helps get the "feel" of a new language by 
      immersing you in it and giving you challenges.