extends layout

block content
  h1 CCSS !Frosh 2014
  h2 What is !Frosh?
  p.
    !Frosh (or NotFrosh) is a computer science event held for frosh and non-frosh
    alike to welcome new students to the department and old ones back. The name
    !Frosh stems from the fact that we are not a registered frosh and we do not
    conflict with any of the standard frosh events and we also try to do things
    differently.
  