extends layout

block content
  h1 CCSS !Frosh 2014
  h2 What is !Frosh?
  p.
    !Frosh (or NotFrosh) is a computer science event held for frosh and non-frosh
    alike to welcome new students to the department and old ones back. The name
    !Frosh stems from the fact that we are not a registered frosh and we do not
    conflict with any of the standard frosh events and we also try to do things
    differently.<br/><br/>
    
    Here is what you get for participating:
  
  li A Full Day of Comp Sci Activities
  li A Sweet !Frosh T-Shirt
  li An Fun Barbecue Lunch
  li A Fantastic Time!
  
  h2 What Does the Schedule Look Like?
  
  p.
    Stay tuned for schedule updates and information for events connected to Frosh Day!
  
  
  iframe(src="https://docs.google.com/spreadsheets/d/18CHMeYj1h1fBrzsm3fx9_nYquluZmfPfGn9TybiAEaw/pubhtml",
         width="615", height="440")
  
  h2 How do I Register?
      
  p.
    Online registration should be available very soon. If you do not feel comfortable with credit card payments
    or would simply like to make other arrangements, you may contact Matt Diener at <a href='mailto:matt.diener@ccss.carleton.ca'>matt.diener@ccss.carleton.ca</a>
    to set up an alternate payment method.