extends layout

block content
  h1 CCSS !Frosh 2014
  h2 Bad News Everyone
  p.
    We reluctantly announce that due to unforeseen circumstances !Frosh 2014 has 
    officially been cancelled. Only in its second year, we have been working hard 
    to find ways to help first year computer science students meet and socialize
    with one another. All of the problems have been heavily noted and scrutinized 
    and over the coming weeks will be worked out to make next year's event a 
    success to avoid leaving this time in vain. As such, while !Frosh in it's 
    advertised form will not be run, the executive team will be meeting in the
    CCSS lounge (4135HP) noon until late with pizza and board games and will be 
    hanging out with anyone who wishes to meet up and/or ask questions about the 
    years ahead.
  p.
    We apologize to everyone who hoped to show up to the event. Full 
    refunds will be provided to anyone who has paid for their ticket.
  p Thank you for your support and understanding,
  strong - 2014 CCSS !Frosh Committee