extends layout

block content
  h1 CCSS !Frosh 2014
  h2 Payment Failed
  p.
    An error occurred during your transaction. If you believe this to be an error,
    please send a message to matt.diener@ccss.carleton.ca.
  p.
    #{body.err}
  p. 
    To try again, <a href="/frosh">Click Here</a>