extends layout

block content
  h1 CCSS !Frosh 2014
  h2 Payment Confirmation
  p.
    Thank you for registering with !Frosh 2014. We're really excited to meet you!
    You should be receiving an email with details regarding the event shortly. 
    You will be receiving a ticket code (also shown below) and you will be expected to bring that to
    !Frosh. You will be receiving information about meeting up
    to the email address you've provided prior to the event, so be sure to stay tuned!
  h2 Ticket Code: #{body.ticketCode}