extends layout

block content
  h1 Job Postings
  p.
    These are public job postings forwarded to us by companies or school administration
    seeking your expertise as a Computer Science student. 
  p.
    #[strong Disclaimer:] These positions have not been investigated by the CCSS
    and their validity has not been verified. We are not displaying preference
    to these positions. We can not provide guarantees about positions. We are not
    responsible for safety, wages, working conditions, or any aspect of employment.
    Please research the position and company further when applying or accepting employment.
  
  ul
    each job in body.jobs
      li: strong #[a(href=job.link, target="_blank") #{job.title}] for #{job.company} (received #{job.date})