doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/socialfeed/socialfeed.css')
    // endbower

    link(rel='stylesheet', href='/css/style.css')

    script(src='http://localhost:35729/livereload.js')
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower

    // This is a fix for the affix script which keeps the nav-bar at the top
    script(src='/js/affixFix.js')

    title #{title}
    
    block head

    // Website content goes below here, in the container

  body
    .container-fluid#wrap
      .row#header
        .col-md-3.col-sm-12.col-xs-12
          a(href='/')
            span.logo-block
              img(class=["img-responsive", "logo"], src="/img/ccssLogo.png")
              h1 Carleton Computer Science Society
        .col-md-6.hidden-xs.hidden-sm
        .col-md-3.hidden-xs.hidden-sm
          .well
            h1 Connect with us!
            a(href="https://www.facebook.com/CarletonComputerScienceSociety", target="_blank", alt="Connect With Us On Facebook!")
              img.social(src="/img/facebook.png")
            a(href="https://github.com/CarletonComputerScienceSociety", target="_blank", alt="Fork us on GitHub!")  
              img.social(src="/img/github.png")
            a(href="https://twitter.com/carletoncss", target="_blank", alt="Follow @carletoncss on twitter!")
              img.social(src="/img/twitter.png")
      div(class=["affix-wrapper"], data-spy="affix", data-offset-top="160")
        .row#navbar-wrapper
          nav(class=["navbar", "navbar-static-top", "navbar-inverse"], id="nav", role="navigation")
            .container-fluid
              .navbar-header
                button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-content")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a(class="navbar-brand", href="/") CCSS
              div(class=["collapse", "navbar-collapse"], id="navbar-content")
                ul(class=["nav", "navbar-nav", "nav-right"])
                  li.dropdown
                    a(href="#", data-toggle="dropdown") About Us
                      b.caret
                    ul.dropdown-menu
                      li: a(href="/about#what") What is the CCSS?
                      li: a(href="/about#who") Who are the CCSS executives?
                      li: a(href="/about#governance") Governance Documents
                      li: a(href="/contact") Contact Info
                  li.dropdown
                    a(href="#", data-toggle="dropdown") Academics
                      b.caret
                    ul.dropdown-menu
                      li: a(href="/courses") Course Quick Reference
                      li: a(href="/extrahelp") Getting Extra Help
                  li.dropdown
                    a(href="#", data-toggle="dropdown") Events
                      b.caret
                    ul.dropdown-menu
                      li: a(href="/events") Events Calendar
                      li: a(href="https://github.com/CarletonComputerScienceSociety/minutes", target="_blank") Event Minutes/Notes
                  li.dropdown
                    a(href="#", data-toggle="dropdown") Get Involved
                      b.caret
                    ul.dropdown-menu
                      li: a(href="/arcadebox") Arcade Box Submissions
                      li: a(href="/studentwork") Student Work Showcase
                      li: a(href="/volunteer") Become a Volunteer
                  li: a(href="/jobs") Job Postings
                  li: a(href="/frosh") !Frosh
                  li: a(href="https://github.com/CarletonComputerScienceSociety/website/wiki/", target="_blank") Wiki
      .row#content
        block content
      .row#footer
        .row
          .col-sm-4
            h1 Carleton Computer Science Society
            p.
              We, the CCSS, are the academic society at Carleton University for 
              undergraduate computer science. We act as liason between student and
              school for academics as well as provide social events for students to
              enjoy. We also have a lounge in which students can relax and talk.
            address
              strong The Lounge, Office
              br
              span Carleton University, 1125 Colonel By Drive
              br
              span 4135HP (4th floor Herzberg Building)
          .col-sm-4
            h1 Site Links
            ul
              li: a(href="/about") About
              li: a(href="/contact") Contact Us
              li: a(href="/courses") Course Assistance
              li: a(href="/extrahelp") Getting Extra Help
              li: a(href="/events") Upcoming Events
              li: a(href="/jobs") Job Postings
              li: a(href="https://github.com/CarletonComputerScienceSociety/website/wiki/", target="_blank") Wiki
          .col-sm-4
            .well
              h1 Most Recent Podcast
              audio(controls)
                source(src="assets/podcasts/001", type="audio/mpeg")
                No audio available
            p.
              Website designed by #[a(href="http://www.linkedin.com/pub/connor-hillen/82/585/6b8", target="_blank") Connor Hillen]
              and maintained by the CCSS executive team. 
            p. 
              #[a(href="https://github.com/CarletonComputerScienceSociety/website/issues/new", target="_blank") Report a Bug] |
              #[a(href="https://github.com/CarletonComputerScienceSociety/website", target="_blank") Contribute]
            