extends layout

block content
  h1 Student Showcase
  p.
    We would like to endorse your hard work. Do you have a mobile application,
    game, plugin, or any project you would like to show off? Send your submissions
    in to #[a(href="mailto:connor.hillen@ccss.carleton.ca") Connor Hillen]. You may
    also wish to submit a personal website, LinkedIn profile, or GitHub account
    to go along with your submission.
  p.
    #[strong Disclaimer:] The project shown here may not have been thoroughly reviewed
    by the CCSS. Use these applications at your own risk. For this reason,
    we recommend submissions come either in a larger market (Google Play, App Store,
    etc.) or all source code is released (GitHub). 
  
  .container-fluid
    .row
      .col-md-6
        header.student-work
          h2 What's Cheaper
          span.developer Abe Fehr | 
          span.link #[a(href="https://play.google.com/store/apps/details?id=com.abefehr.whatscheaper", target="_blank") Download (Google Play)]
          p.
            Get the better deal by comparing unit cost between items at the grocery 
            store! Allows you to compare more than 2 items, sorts them in front of you, 
            and indicates the best deal. 
      .col-md-6
        a(href="https://play.google.com/store/apps/details?id=com.abefehr.whatscheaper", target="_blank")
          img.img-responsive.student-work(src="/img/studentwork/whatsapp.png", alt="Whats App")
    .row
      .col-md-6
        header.student-work
          h2 Carleton Places
          span.developer Abe Fehr | 
          span.link #[a(href="https://play.google.com/store/apps/details?id=com.carletonplaces", target="_blank") Download (Google Play)]
          p.
            Thirsty for Timmies at 8pm on a Saturday night but don't know which 
            Tims are open? This is the app for you! Based on the most up-to-date
            schedules, this app will tell you when various businesses on the 
            Carleton University campus are open or closed. DISCLAIMER: This app 
            may be inaccurate during exam season when CU Dining Services frequently 
            changes the schedules and doesn't post them online. 
      .col-md-6
        a(href="https://play.google.com/store/apps/details?id=com.carletonplaces", target="_blank")
          img.img-responsive.student-work(src="/img/studentwork/carletonplaces.png", alt="Carleton Places")
    .row
      .col-md-6
        header.student-work
          h2 Qwikipedia
          span.developer Ben Black | 
          span.link #[a(href="https://chrome.google.com/webstore/detail/qwikipedia/kbbfhhcbaaahidkajomclgljbilpijla", target="_blank") Download (Chrome Webstore)]
          p.
            Meet Qwikipedia! The quicker, more convenient way to browse Wikipedia. 
            Anytime you encounter a blue term you'd like to know more about on a 
            Wikipedia page, simply hover over it with your mouse to get a popup 
            of the essential information about that item! Save time and computer
            resources with Qwikipedia. 
      .col-md-6
        a(href="https://chrome.google.com/webstore/detail/qwikipedia/kbbfhhcbaaahidkajomclgljbilpijla", target="_blank")
          img.img-responsive.student-work(src="/img/studentwork/qwikipedia.png", alt="Qwikipedia")
    .row
      .col-md-6
        header.student-work
          h2 Base Converter
          span.developer Kai Cheng | 
          span.link #[a(href="https://itunes.apple.com/us/app/base-converter!/id443588978", target="_blank") Download (App Store)]
          p.
            Base Converter is an easy to use utility app to convert number bases. 
            It supports Decimal, Binary, Octal, and Hexadecimal. This simple 
            design allows quick conversions with a delete and reset button.  
      .col-md-6
        a(href="https://itunes.apple.com/us/app/base-converter!/id443588978", target="_blank")
          img.img-responsive.student-work(src="/img/studentwork/baseconverter.png", alt="Base Converter") 