extends layout

block content
  h1 Volunteer Information
  p.
    Given the different services services offered by the CCSS, we have a regular
    need for volunteers of different kinds. Anyone can hold multiple positions.
    Some of the people we need are:
  ul
    li.
      #[strong Office Watcher:] This position has regular hours every week in charge
      of watching the office and selling course packs, etc. to students and loaning
      out our games and equipment. This qualifies for co-curricular record. 
    li.
      #[strong Events Volunteer:] This position is on call for events that need 
      someone to run or assist. They do not have regular hours and may not be
      called upon regularly. 
    li.
      #[strong Meeting Minute Taker:] This position takes meeting notes at executive
      meetings. The position can either be regular or on call. 
  p.
    If you would like to volunteer for any of these positions or something else,
    please contact #[a(href="mailto:matt.diener@ccss.carleton.ca") Matt Diener] 
    with information.