@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:400,700,300);

body {
  font: 14px "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #555;
  background-image: url("/img/stripeBackground.png");
}

a {
  color: #a00;
}

a:hover {
  color: #500;
}

#wrap {
  width: 100%;
  padding: 0px;
}

#header {
  background-color: #333;
  padding: 15px;
  margin: 0px;
}

#header a, #header a:hover {
  color: #000;
}

/* Align the header into the centre if the screen is small */

@media only screen and (max-width: 992px) {
  #header {
      text-align: center;
  }
}

#header .logo-block {
  height: 100%;
  display: block;
  text-align: center;
  display: inline-block;
  padding-top: 20px;
}

#header h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.8em;
  font-weight: 900;
  color: #ddd;
}

/* On large screens, it should display largely, but on anything small it should be reactive */
@media only screen and (min-width: 992px) {
  #header .logo {
    min-height: 43px;
    min-width: 364px;
  }
}

#header .well {
  font-size: 1.1em;
  color: #eee;
  background-color: #444;
  border-style: none;
  text-align: center;
}

#header .well > h1 {
  font-size: 1.3em;
  margin-top: 0px;
}

#header img.social {
  height: 24px;
  width: auto;
  margin: 10px;
}

#navbar-wrapper {
  width: auto;
}

/* Navigation Menu Overrides */
/* All of these overrides are for the built in Twitter Bootstrap navbar
 * defaults, using the navbar-inverse class. The overrides for these were
 * noted in a stack overflow article here: http://stackoverflow.com/questions/18529274/change-navbar-color-in-twitter-bootstrap-3
*/

.affix-wrapper {
  top: 5px;
  z-index: 1000;
}

.affix {
  position: fixed; top: 0px; bottom: auto;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus  {
  border-color: #c33;
}

/* Custom nav generated by http://bootstrap3-menu.codedorigin.com/ */

.navbar-inverse { background-color: #222222; margin: 0px 15px; width: 100%;}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #222222}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #080808}
.dropdown-menu { background-color: #222222}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #333333}
.navbar-inverse { }margin-left: 25px; color: #999999}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a {
  color: #999999;
  /* Custom Stuff Here */
  font-family: "Open Sans", sans-serif;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #CC3333}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #CC3333}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}

#content {
  padding: 20px;
  background-color: #eee;
  margin: 0px 30px;
}

#content .panel-heading {
  background-color: #222;
  color: #eee;
  font-weight: 200;
}

#content .panel-body {
  background-color: #eee;
  border-style: none;
}

#footer {
  background-color: #222;
  color: #ddd;
  padding: 10px;
  font-size: 0.8em;
  margin: 0px 30px;
}

#footer audio {
  max-width: 100%;
}

#footer .well {
  color: #eee;
  background-color: #444;
  border-style: none;
}

#footer .well a {
  color: #777	;
}

#footer h1 {
  font-size: 1.2em;
  font-weight: 900;
}

#footer .well h1 {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0px;
}

#footer ul {
  list-style-type: none;
  padding-left: 0px;

}

/* This is for page anchors, to ensure the nav bar doesn't overwrite it */
.anchored:before {
  display: block;
  content: " ";
  margin-top: -90px;
  height: 90px;
  visibility: hidden;
}

/******************
 * Individual Page Layouts Here
*/

/* Index */

.carousel-inner {
  background-color: #fff;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: 0 auto;
}

.carousel-inner > .item > .carousel-caption {
  background-color: rgba(20,20,20,0.5)
}

.carousel {
  margin-bottom: 40px;
}

.carousel-inner a {
  color: #fff;
}

/* About */

@media only screen and (max-width: 992px) {
  .bio .pic {
      text-align: center;     
  }
}

.bio {
  font-size: 0.8em;
}

.bio table {
  overflow: auto;
}

.bio .pic {
  max-height: 80px;
  
}

.bio table tr td:first-of-type {
  font-weight: 900;
}

/* Student Work */

#student-work header .developer {
  color: #888;
} 

#student-work img {
  max-height: 400px;
  width: auto;
}

#student-work .row {
  margin: 15px 0px;
  padding: 5px;
  border: thin solid #444;
}

/* Podcasts */

#podcasts .row {
  border: thin solid #333;
  padding: 10px;
  margin: 10px;
}

#podcasts div[class*="col-"] {
  margin: 0px 10px;
}

#podcasts audio {
  width: 100%;
}

#podcasts .avatar {
  text-align: center;
  font-family: "Open Sans Condensed";
  font-size: 1.4em;
  font-weight: 800;
}

#podcasts .credits {
  font-size: 0.8em;
}

#podcasts .content table {
  width: 100%;
}

#podcasts .content td {
  padding: 0px 10px;
}

#podcasts .content tr.description {
  height: 90px;
}

#podcasts .avatar img {
  max-width: 200px;
}