<div ng-controller="FooterCtrl">
  <footer class="footer">

    <div class="container">
      <div class="column">
        <h1>Services</h1>
        <ul>
          <li><a href="#" alt="Printing" target="_blank">Printing</a></li>
          <li><a href="#" alt="Wifi" target="_blank">High Speed WiFi</a></li>
          <li><a href="#" alt="Lounge" target="_blank">Lounge</a></li>
          <li><a href="#" alt="Keurig" target="_blank">Keurig</a></li>
          <li><a href="#" alt="Gaming" target="_blank">Gaming</a></li>
          <li><a href="#" alt="Course Notes" target="_blank">Course Notes</a></li>
        </ul>
      </div>
      <div class="column">
        <h1>Important Links</h1>
        <ul>
          <li><a href="http://www.scs.carleton.ca/cstac/" alt="CSTAC" target="_blank">CSTAC</a></li>
          <li><a href="https://www.scs.carleton.ca/current-students/undergraduate" alt="Undergrad Quick Links" target="_blank">Undergrad Quick Links</a></li>
          <li><a href="https://www.scs.carleton.ca/tech-support/free-software" alt="Dreamspark" target="_blank">Dreamspark</a></li>
          <li><a href="https://www.scs.carleton.ca/future-students/graduate-program/mcs-program/accelerated-stream" alt="Accelerated Masters" target="_blank">Accelerated Masters</a></li>
          <li><a href="http://carleton.ca/registrar/registration/dates-and-deadlines/" alt="Important Dates and Deadlines" target="_blank">Important Dates and Deadlines</a></li>
          <li><a href="http://calendar.carleton.ca/undergrad/undergradprograms/computerscience/" alt="CS Undergrad Calendar" target="_blank">CS Undergrad Calendar</a></li>
        </ul>
      </div>
      <div class="column">
        <h1>More CCSS</h1>
        <ul>
          <li><a href="http://ccss.carleton.ca:8000/docs/ccss/" alt="Info" target="_blank">Info & Docs</a></li>
          <li><a href="/forum" alt="Forums" target="_blank">Forum</a></li>
          <li><a href="#" alt="Constitution" target="_blank">Constitution</a></li>
          <li><a href="#" alt="Meeting Minutes" target="_blank">Meeting Minutes</a></li>
          <li><a href="https://github.com/CarletonComputerScienceSociety/website/issues" alt="Report Issues" target="_blank">Report an Issue</a></li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="container">
      <span><strong>Lounge: </strong> 4135 HP (Herzberg Building, Carleton University)</span>

      <div class="social">
        <a href="https://www.facebook.com/CarletonComputerScienceSociety" alt="Facebook" target="_blank">
          <i class="fa fa-2x fa-facebook-official"></i>
        </a>
        <a href="https://twitter.com/carletoncss" alt="Twitter" target="_blank">
          <i class="fa fa-2x fa-twitter"></i>
        </a>
        <a href="https://github.com/CarletonComputerScienceSociety/website" alt="Contribute on Github" target="_blank">
          <i class="fa fa-2x fa-github"></i>
        </a>
      </div>

    </div>
  </footer>
</div>
