<div ng-controller="FooterCtrl">
  <footer class="footer">

    <div class="container">
      <div class="column">
        <h1>Services</h1>
        <ul>
          <li><a href="#" alt="Printing">Printing</a></li>
          <li><a href="#" alt="Wifi">High Speed WiFi</a></li>
          <li><a href="#" alt="Lounge">Lounge</a></li>
          <li><a href="#" alt="Keurig">Keurig</a></li>
          <li><a href="#" alt="Gaming">Gaming</a></li>
          <li><a href="#" alt="Course Notes">Course Notes</a></li>
        </ul>
      </div>
      <div class="column">
        <h1>Important Links</h1>
        <ul>
          <li><a href="http://www.scs.carleton.ca/cstac/" alt="CSTAC">CSTAC</a></li>
          <li><a href="https://www.scs.carleton.ca/current-students/undergraduate" alt="Undergrad Quick Links">Undergrad Quick Links</a></li>
          <li><a href="https://www.scs.carleton.ca/tech-support/free-software" alt="Dreamspark">Dreamspark</a></li>
          <li><a href="https://www.scs.carleton.ca/future-students/graduate-program/mcs-program/accelerated-stream" alt="Accelerated Masters">Accelerated Masters</a></li>
          <li><a href="http://carleton.ca/registrar/registration/dates-and-deadlines/" alt="Important Dates and Deadlines">Important Dates and Deadlines</a></li>
          <li><a href="http://calendar.carleton.ca/undergrad/undergradprograms/computerscience/" alt="CS Undergrad Calendar">CS Undergrad Calendar</a></li>
        </ul>
      </div>
      <div class="column">
        <h1>More CCSS</h1>
        <ul>
          <li><a href="/wiki" alt="Wiki">Wiki</a></li>
          <li><a href="/forum" alt="Forums">Forum</a></li>
          <li><a href="#" alt="Constitution">Constitution</a></li>
          <li><a href="#" alt="Meeting Minutes">Meeting Minutes</a></li>
          <li><a href="https://github.com/CarletonComputerScienceSociety/website/issues" alt="Report Issues">Report an Issue</a></li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="container">
      <span><strong>Lounge: </strong> 4135 HP (Herzberg Building, Carleton University)</span>

      <div class="social">
        <a href="https://www.facebook.com/CarletonComputerScienceSociety" alt="Facebook" target="_blank">
          <i class="fa fa-2x fa-facebook-official"></i>
        </a>
        <a href="https://twitter.com/carletoncss" alt="Twitter" target="_blank">
          <i class="fa fa-2x fa-twitter"></i>
        </a>
        <a href="https://github.com/CarletonComputerScienceSociety/website" alt="Contribute on Github" target="_blank">
          <i class="fa fa-2x fa-github"></i>
        </a>
      </div>

    </div>
  </footer>
</div>
