.news-widget {
  width: 100%;
  height: 100%;

  border: 1px solid @color-white-dark;
  border-radius: 8px;

  .news-nav {
    text-align: center;
    font-size: 16px;
    margin: 10px auto;

    a.left {
      padding-right: 40px;
    }
    a.right {
      padding-left: 40px;
    }
  }

  .news-articles {
    width: 96%;
    height: calc(~'98% - 50px');
    margin: 0 auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;
      height: 100%;

      li {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 0;
        height: 100%;
        overflow-y: auto;
        transition: opacity 0.3s linear;
      }

      li.active {
        opacity: 1;
        z-index: 5;
      }
    }

    .article {

      h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
      }

      h1 {
        font-size: 2em;
      }

      h1:first-child {
        text-decoration: underline;
      }

      p {
        text-align: justify;
      }

      img {
        float: left;
        max-width: 50%;
      }

      h1.authorship {
        color: fadeout(lighten(@color-red, 20%), 20%);
        margin: 0;
        font-size: 1.2em;
        text-decoration: none;
      }

    }
  }
}
