<div ng-controller="NavbarCtrl">
  <div class="navbar">
    <ul>
      <li ng-repeat="item in menu">
        <a ng-href="{{item.link}}" alt="{{item.title}}">{{item.title}}</a>
      </li>
      <li>|</li>
      <li><a href="/forum" alt="CCSS Forum" target="_blank">Forum</a></li>
      <li><a href="/wiki" alt="CCSS Wiki" target="_blank">Wiki</a></li>
      <li><a href="http://scs.carleton.ca/" alt="Carleton Universty School of Computer Science" target="_blank">SCS</a></li>
    </ul>

  </div>
</div>
