<div ng-controller="NavbarCtrl">
  <div class="navbar">
    <div class="nav-header">
      <hamburger-toggle class="nav-toggle" state="navOpen"></hamburger-toggle>
    </div>
    <ul class="nav-list" ng-class="{open: navOpen}">
      <li>
        <back-to-top></back-to-top>
      </li>
      <li ng-repeat="item in menu">
        <a ng-href="{{item.link}}" alt="{{item.title}}" scroll-to-id="{{item.link}}">{{item.title}}</a>
      </li>
      <li class="divider"></li>
      <li><a href="https://www.reddit.com/r/ccss" alt="CCSS subreddit" target="_blank">Subreddit</a></li>
      <li><a href="https://ccss.carleton.ca/docs/" alt="CCSS Info" target="_blank">Info</a></li>
      <li><a href="https://scs.carleton.ca/" alt="Carleton Universty School of Computer Science" target="_blank">SCS</a></li>
    </ul>
  </div>
</div>
