
.head-panel {
  text-align: center;

  background-image: url('../../assets/images/TechTalk.png');
  background-size: cover;
  color: rgba(255,255,255,0.8);


  .banner {
    width: 80%;
    margin: 10px auto;
  }
}

.panel {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  ul.icon-list {
    list-style: none;
    padding: 0;
    margin: 15px auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 60%;

    li {
      flex: 0 0 auto;

      a {
        text-decoration: none;
        color: rgba(255,255,255,0.8);

        &:hover, &:focus {
          color: @color-grey;
        }
      }
    }
  }
}
