@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: #191919;
  color: #cccccc;
}

h1, h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  color: #9b1d06;
  text-align: center;
}

h2 {
  text-align: left;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #676767;
}

a:link, a:visited {
  color: #676767;
}

a:hover, a:active {
  color: #9b1d06;
}

h3 {
  margin-bottom: 0px;
}

ul {
  margin: 20px auto;
  margin-top: 6px;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.alert {
  color: #ff1d06;
  font-size: 0.9em;
}

a.vote {
  color: #9b1d06;
  font-size: 2.5em;
}

a.vote:link, a.vote:visited {
  color: #9b1d06;
}

a.vote:hover, a.vote:active {
  color: #676767;
}
